* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	/* overflow-x: hidden; */
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

a {
	color: inherit;
	text-decoration: none;
}

.cr-green {
	color: #2dc7c7;
}

li {
	list-style: none;
}

.cusDDWrap {
	max-width: 400px;
	width: 100%;

	position: relative;
}

.cusDDBtnCont {
	width: 100%;
	padding: 20px;
	border: 1px solid #2dc7c7;
	border-radius: 10px;
}

.cusDDBtn {
	width: 100%;
	padding: 21px 20px 20px 20px;
	border: 1px solid #2dc7c7;
	border-radius: 10px;
	position: relative;
	float: left;
	box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
}
i,
em {
	font-style: normal;
}
.cusDDBtn label {
	background: #fff;
	position: absolute;
	color: #2dc7c7;
	top: -8px;
	padding: 0 10px;
	left: 10px;
}
.cusDDBtn span {
	float: left;
	width: 100%;
	position: relative;
	padding-right: 30px;
	line-height: 20px;
}
.cusDDBtn span i {
	float: left;
	width: 98%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.cusDDBtn span em {
	position: absolute;
	background-image: url("https://raw.githubusercontent.com/abdulbasitjs/react-multiselect-dropdown/main/src/images/downArr.png");
	width: 20px;
	height: 20px;
	right: 10px;
	top: 3px;
	background-size: 100%;
	background-repeat: no-repeat;
	transition: 0.3s all ease;
}

.cusDDBtn.active + .cusDDContent {
	display: block;
}
.cusDDBtn.active span em {
	transform: rotate(180deg);
	top: 0;
}
.cusDDWrap.down .cusDDContent {
	top: 80px;
}
.cusDDWrap .cusDDContent {
	display: none;
	position: absolute;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
	left: 0;
	border-radius: 10px;
}
.cusDDContent ul,
.cusDDContent ul li,
.cusDDContent ul li a {
	float: left;
	width: 100%;
}
.cusDDContent ul li a {
	color: #121212;
	text-decoration: navajowhite;
	padding: 0px 20px;
	line-height: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	position: relative;
}

.cusDDContent ul li:last-child a {
	border-bottom: none;
}

.cusDDContent ul li input {
	float: left;
	width: 100%;
	line-height: 50px;
	height: 50px;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0 20px;
	font-size: 16px;
}

.cusDDContent > a {
	color: #2dc7c7;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-decoration: none;
}

.cusDDContent > a.disabled {
	opacity: 0.4;
	pointer-events: none;
}

.cusDDContent ul li a.active::after {
	content: "";
	background-image: url("https://raw.githubusercontent.com/abdulbasitjs/react-multiselect-dropdown/main/src/images/checkBG.png");
	position: absolute;
	right: 20px;
	top: 7px;
	width: 30px;
	height: 30px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.cusDDWrap.up .cusDDContent {
	bottom: 30px;
}

.cusDDWrap.up {
	margin-top: 80vh;
}

.cusDDContent ul {
	max-height: 300px;
	overflow: auto;
}
